<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Нэвтрэх</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
<div class="min-h-screen flex items-center justify-center">
    <div class="bg-white p-8 rounded shadow-md w-full max-w-md">
        <h2 class="text-2xl font-bold text-center mb-6">Нэвтрэх</h2>

        <form th:action="@{/login}" method="post">
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">Нэвтрэх нэр:</label>
                <input
                        type="text"
                        id="username"
                        name="username"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        placeholder="Enter your email"
                />
            </div>

            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="password">Нууц үг:</label>
                <input
                        type="password"
                        id="password"
                        name="password"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        placeholder="Enter your password"
                />
            </div>

            <div class="mb-4 flex items-center justify-between">
                <button
                        type="submit"
                        class="bg-blue-500 hover:bg-zinc-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                >
                    Нэвтрэх
                </button>
                <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="#">
                    Нууц үг сэргээх?
                </a>
            </div>
        </form>

        <p class="text-center text-sm text-gray-600">Танд бүртгэл байгаа юу?
            <a class="text-blue-500 hover:text-blue-700" href="/register">Бүртгүүлэх</a>
        </p>
    </div>
</div>
</body>
</html>
